body{
  color: #FC4308;
}

.header__bg {
	background: linear-gradient(
			233.95deg,
			#0d1e20 -73.12%,
			#313e2a 53.36%,
			#262d20 103.17%
		),
		#ffffff;
	background-blend-mode: multiply, multiply, normal;
}

.navbar a{
  color: #FC4308;
}

.navbar .collapse li a{
  color: #FC4308;
}

.navbar .collapse.navbar-collapse{
  flex-grow: inherit;
}

.navbar .navbar-toggler:focus{
  box-shadow: none;
}

.navbar .navbar-toggler{
  border: 1px solid #FC4308;
}

.navbar .navbar-toggler-icon{
  background-color: #FC4308;
}

.header__content{
  height: calc(100vh - 56px);
}

.header__img{
  width: 220px;
}

@media (min-width: 576px) {
  .header__img{
    width: auto;
    height: auto;
    object-fit: cover;
  }
}

.galeria{
  background-color: #0E1513;
  padding:40px 0;
}

@media (min-width:1024px) {
  .galeria{
    padding: 80px 120px;
  }
}

.galeria__button{
  background-color: transparent;
  color: #FC4308;
  border: 1px solid #FC4308;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}	

.galeria__button:hover{
  background-color: #FC4308;
  color: #fff;
}

.container__bg{
  background: linear-gradient(90deg, #323E2A 0%, #101815 100%);
}

.work{
  padding:40px 0;
}

@media (min-width:1024px) {
  .work{
    padding: 80px 120px;
  }
}

.work_button{
  width: fit-content;
  background-color: transparent;
  color: #FC4308;
  border: 1px solid #FC4308;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

@media (min-width:1024px) {
  .work_button{
    margin-top: 40px;
  }
}

.collection{
  padding:40px 0;
}

@media (min-width:1024px) {
  .collection{
    padding: 80px 120px;
  }
}


.collection__button{
  width: fit-content;
  background-color: transparent;
  color: #FC4308;
  border: 1px solid #FC4308;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

.banner{
  background-color: #0E1513;
  padding:40px 0;
}

.banner div:first-child{
  max-width: 674px;
  margin: 0 auto;
  text-align: center;
}

.banner h2{
  font-size: clamp(3rem, 10vw, 100px);
}

.banner p{
  font-size: 16px;
}

.banner__button{
  width: fit-content;
  background-color: transparent;
  color: #FC4308;
  border: 1px solid #FC4308;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 48px;
}
