.navbar{

  a{
    color: $color-primary;
  }

  .collapse {
    // color: $color-primary;
    li{
      a{
        color: $color-primary;
      }
    }
  }

  .collapse.navbar-collapse{
    flex-grow: inherit;
  }

  .navbar-toggler:focus{
    box-shadow: none;
  }

  .navbar-toggler{
    border: 1px solid $color-primary;
  }
  
  .navbar-toggler-icon{
    background-color: $color-primary;
  }
}



